


/* shared styles */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }


body{
    width: 1600px;
    background-color: #F5F5F5;

}
.flex{
    display: flex;
}
main{
    margin-bottom: 80px;
    padding-left: 160px;
    padding-right: 160px;
    background-color: #F5F5F5;
}
.max-width{
    max-width: 1280px;
}


/* nav styles */
header{
    margin-bottom: 80px;
    padding-left: 160px;
    padding-right: 160px;
   
}
.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
    padding-bottom: 31px;
}
.nav-title{
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
}
.nav-btn{
    margin: 20px;
    padding: 15px 30px;
    color: #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #006A50;

}
.nav-btn:hover{
    background-color: #006A50;
    color: white;
    border: 1px solid white;
}


/* banner styles */

.banner{
    background-color: #C6E4D6;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    gap: 64px;
}
.banner-head{
    font-weight: 600;
    font-size: 24px;
    color: #0E0E0E;
    opacity: 50%;
    margin-bottom: 16px;
}
.banner-title
{
    font-weight: bold;
    font-size: 56px;
    margin-top: 16px;
    margin-bottom: 24px;
}
.banner-btn{
    background-color: #006A50;
    border-radius: 8px;
    color: white;
    padding: 17px 34px;
    font-weight: 700;
    font-size: 18px;
    border: none;
}
.banner-btn:hover{
    background-color: white;
    color: #006A50;
}



/* vision styles */
.vision-title{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.vision-description{
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0E;
    opacity: 70%;
    margin-top: 24px;
    margin-bottom: 32px;
}
.vision-card-container{
    gap: 24px;
}
.vision-card-1{
    flex: 1;
    padding: 32px;
    border-radius: 16px;
    background-color: rgba(84, 144, 245, 0.2);
}
.vision-card-2{
    flex: 1;
    padding: 32px;
    border-radius: 16px;
    background-color: rgba(198, 228, 214, 1);
}
.vision-card-3{
    flex: 1;
    padding: 32px;
    border-radius: 16px;
    background-color: rgba(247, 235, 207, 1);
}
.vision-card-title{
    margin-top: 24px;
    font-weight: bold;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
}
.vision-card-details{
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 12px;
}
.vision-btn-1{
    padding: 11px 20px;
    background-color: #5490F5;
    font-weight: 600;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    margin-top: 24px;
}
.vision-btn-1:hover{
    background-color: white;
    color: #5490F5;
}
.vision-btn-2{
    padding: 11px 20px;
    background-color: #09A15C;
    font-weight: 600;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    margin-top: 48px;
}
.vision-btn-2:hover{
    background-color: white;
    color: #09A15C;
}
.vision-btn-3{
    padding: 11px 20px;
    background-color: #FFC239;
    font-weight: 600;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    margin-top: 48px;
}
.vision-btn-3:hover{
    background-color: white;
    color: #FFC239;
}
/* pillar styles */

.pillar-title{
    font-weight: bold;
    font-size: 40px;
}
.pillars-card-container{
    gap: 24px;
}
.pillar-card{
    background-color: white;
    border-radius: 16px;
    padding: 24px;
    flex: 1;
}

/* quote styles */

.quote-container{
    padding: 48px 24px;
    background-color: white;
    background-image: url(../images/quote-bg.png);
    background-position: 23px 30px;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-top: 32px;
}
.quote-description{
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}
.name{
    color: rgba(14, 14, 14, 0.8);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-top: 12px ;
    margin-bottom: 4px;
}
.designation{
    color: rgba(14, 14, 14, 0.6);
    line-height: 24px;
    font-size: 16px;
    margin-top: 4px;

}

/* news styles */

.news-title{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
}
.news-description{
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.news-1{
    background-color: white;
    border-radius: 24px;
    padding: 48px;
    margin-bottom: 24px;
    gap: 32px;
    align-items: center;
    justify-content: center;
  
}
.news-2{
    background-color: white;
    border-radius: 24px;
    padding: 48px;
    margin-bottom: 24px;
    gap: 32px;
    align-items: center;
    justify-content: center;
   
}
.news-3{
    background-color: white;
    border-radius: 24px;
    padding: 48px;
    gap: 32px;
    align-items: center;
    justify-content: center;
    
}

.news-image{
    border-radius: 24px;
}
.news-head{
    font-weight: bold;
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
    margin-top: auto;
    margin-bottom: 12px;
}
.time-date{
    display: flex;
    gap: 12px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    line-height: 23px;
    margin-top: auto;
    margin-bottom: auto;
}
.news-details{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 23px;
    margin: auto 0;
}
.news-btn{
    background-color: rgba(0, 106, 80, 1);
    padding: 13px 26px;
    color: white;
    border-radius: 8px;
    margin-top: 32px;
    border: none;
    font-size: 18px;
    font-weight: 600;
}
.news-btn:hover{
    background-color: #09A15C;
    color:antiquewhite;
}

/* donate styles */
.donate{
    text-align: center;
}
.donate-title{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
    margin-bottom: 32px;
}
.donate-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
}
.donate-card-container{
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}
.donate-card{
    padding: 40px;
    background-color: white;
    border-radius: 16px;
    font-weight: bold;
    font-size: 40px;
    color: rgba(14, 14, 14, 0.8);

}
.donate-card:hover{
    background-color: rgba(198, 228, 214, 1);
}
.duisho{
    background-color: rgba(198, 228, 214, 1);
}
.Amount{
    text-align: center;
    padding: 20px 440px;
    background-color: white;
    border: none;
    border-bottom : 1px solid rgba(14, 14, 14, 0.15);;
    margin-bottom: 32px;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);;
}

.donate-btn{
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    padding: 17px 34px;
    border: none;
    font-weight: 600;
    font-size: 18px;
}
.donate-btn:hover{
    background-color: white;
    color: #006A50;
}


/* newsletter styles */

.newsletter{
    background-color: rgba(198, 228, 214, 1);
    padding: 80px 0;
    border-radius: 24px;
    text-align: center;
    margin-top: 80px;
}
.news-content{
    margin: 0 265px;
    text-align: center;
}
.newsletter-title{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
    margin-bottom: 16px;
}
.newsletter-description{
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 24px
}
.subscribe{
    gap: none;
}   
.email{
   padding: 17px 400px 17px 40px; 
   color: rgba(14, 14, 14, 0.3);
   font-size: 16px;
   border-radius: 8px 0 0 8px;
   border: none;

}
.sub-btn{
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 0 8px 8px 0;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
}
.sub-btn:hover{
    background-color: black;
    color: rgba(198, 228, 214, 1);
}
.no-spam{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

/* footer styles */

.footer{
    background-color: white;
    margin: 0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-title{
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
    
}
.line{
  border: none;
  border-bottom: 1px solid rgba(14, 14, 14, 0.1);
 width: 1122px;
}
.footer-img{
    margin-top: 32px;
    display: flex;
    gap: 23px;
    justify-content: center;
    
}


